*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}

html.js .loader {
	background: none repeat scroll 0 0 #ffffff;
	bottom: 0;
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 9999;
}
html.js .loader_inner {
	background-image: url("../img/preloader.gif");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #fff;
	height: 60px;
	width: 60px;
	margin-top: -30px;
	margin-left: -30px;
	left: 50%;
	top: 50%;
	position: absolute;
}

body {
	font-family: sans-serif;
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.6;
	font-family: "RobotoRegular", sans-serif;
	overflow-x: hidden;
}
.hidden {
	display: none;
}
.wrap{
	margin: 20px auto;	
	width: 200px;	
}
.red,.blue, .green, .gray{
	border-radius: 50%;
	box-shadow: 0 0 15px 10px black;
}
.text{
	display: table-cell;
	vertical-align: middle;
	width: 200px;
	height: 200px;
}
.red{
	background-image: url(../img/1.jpg);
	background-repeat: no-repeat;
	background-size: 160%;	
	background-position: 78% 73%;
}
.red:hover{
	background-repeat: no-repeat;
	background-size: 225%;
	background-position: 66% 33%;
	transition: all .5s ease;
}
.red p:hover{
	background-color: #e92323;
	transition: all .35s ease;
	border-radius: 50%;
	opacity: 0.7;
}
.blue{
	background-image: url(../img/2.jpg);
	background-repeat: no-repeat;
	background-size: 100%;	
	background-position: 37% 9%;
}
.blue:hover{
	background-repeat: no-repeat;
	background-size: 140%;
	background-position: 37% 9%;
	transition: all .5s ease;
}
.blue p:hover{
	background-color: #2d2df8;
	transition: all .35s ease;
	border-radius: 50%;
	opacity: 0.7;
}
.green{
	background-image: url(../img/3.jpg);
	background-repeat: no-repeat;
	background-size: 100%;	
	background-position: 51% 0%;
}
.green:hover{
	background-repeat: no-repeat;
	background-size: 140%;
	background-position: 51% 0%;
	transition: all .5s ease;
}
.green p:hover{
	background-color: #0D8D0D;
	transition: all .35s ease;
	border-radius: 50%;
	opacity: 0.7;
}
.gray{
	background-color: #09507C;
	background-image: url(../img/4.jpg);
	background-repeat: no-repeat;
	background-size: 85%;	
	background-position: 53% 43%;
}
.gray p:hover{
	background-color: #8D8D8D;
	transition: all .35s ease;
	border-radius: 50%;
	opacity: 0.7;
}
.gray:hover{
	background-repeat: no-repeat;
	background-size: 125%;
	background-position: 56% 25%;
	transition: all .5s ease;
}
p{
	margin: 15%;
	text-align: center;
	font-size: 30px;
}